body{
    color: rgb(0, 0, 0);
    flood-color: black;
}
span{
    color: rgb(217, 255, 0);
}
section{
    padding-top: 10px;
    background-color: rgb(255, 0, 170);
    text-align: center;
}

.objetivos{
    font-size: 18px;
    padding: 18px;
    border: 0px;
}

.ativo{
    border-bottom: 4px solid greenyellow;

}
 .textos{
    text-align: center;
 }

 .aba-conteudo{
    display: none;
 }

 .ativa{
    display: block;
 }
 
