body{
    color: aqua;
    flood-color: black;
}
span{
    color: blueviolet;
}
section{
    padding-top: 30px;
    background-color: rgba(190, 160, 180, 0.600);
    text-align: center;
}

.objetivos{
    font-size: 18px;
    padding: 18px;
    border: 0px;
}

.ativo{
    border-bottom: 4px solid greenyellow;

}